* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  --black: #000000;
  --red: #df1212;
  --gray: #373737;
  --white: #ffffff;
  --error: #E53935;
  --scrollbar-color: #ff00002b;
  --shadow-color: #000000c8;
  font-size: 62.5%;
}